body{background:#e8eacc;padding: 0;
    min-height: 100vh;
    background-size: cover;}
.uk-navbar-bg{background-color:#587; color:#eee;position:fixed;top:0;left:0;z-index:1000;}
.uk-navbar .uk-navbar-brand{color:#fff;}
.uk-navbar .uk-button-primary{background-color:#da314b;}
.navbar-content-link {color:#e69500;}
.uk-navbar-content a:hover {color:#fff;}
.uk-navbar-nav>li a:hover {background-color: #da314b;color:#fff;}
.uk-navbar-nav>li.uk-active>a  , .uk-active a:hover {background-color: #d7d9bb;}
.uk-navbar-nav .uk-dropdown{background-color:rgba(215, 217, 187, 0.85);}

.uk-navbar-content .uk-search-field{background:rgba(215, 217, 187, 0.38);color:#fff;}
 .uk-navbar-content .uk-search-field::-webkit-input-placeholder{color:#eee;}
 .uk-navbar-content .uk-search-field::-moz-placeholder{color:#eee;}
 .uk-navbar-content .uk-search-field:-moz-placeholder{color:#eee;}

/*content*/
.sblog-left-body{
	line-height:25px;font-size:15px;font-weight:400;
box-shadow:
    0px 0px #587,
    1px 1px #698,
    2px 2px #7a9,
    3px 3px #8ba,
    4px 4px #9cb,
    5px 5px #adc,
    5px 5px 0px rgba(5, 8, 7, 0.5),   
    5px 5px 1px rgba(5, 8, 7, 0.5);  

}

.sblog-middle{padding-top:40px;}
.sblog-content{padding-top:20px;}
.sblog-drawer-btn{position:fixed;top:40px;}
.uk-article-list{}
 .uk-article-list .uk-article-lead a{color:#587;text-shadow:1px 1px #eee,-1px -1px #444; font-family:"微软雅黑"}
 .uk-article-list .uk-article-lead a:hover {color:#ddd;font-size:20px;text-decoration:none;}
.sblog-uk-block{padding-left:5px;padding-top:15px;padding-bottom:10px;background:rgba(242, 244, 214, 1);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3),
		1px -1px 1px rgba(0, 0, 0, 0.3),
		-1px 1px 1px rgba(0, 0, 0, 0.3),
        -1px -1px 1px rgba(0, 0, 0, 0.3);}
.sblog-uk-block:hover {}

.sblog-block-delver {height:10px;width:100%;}

.uk-block-defined-bar{background:rgba(242, 244, 214, 1); padding-top:25px;padding-bottom:20px;margin:auto;
    box-shadow:1px 1px #eee,-1px -1px #aaa;
}
.uk-block-defined-bar ul {padding-top :20px;}
.uk-block-defined-bar .uk-list-line a{color:#333;}

/*pannel*/
.uk-panel-box{background:none;}

.uk-pagination {padding-top:20px;}
.uk-pagination li a{color:#aaa;font-size:20px;height:40px; line-height:40px;width:100%; box-shadow: 0px 10px 2px #888888;background:rgba(242, 244, 214, 1);border-radius:25px;}
.uk-pagination li  a:hover { box-shadow: 0px -3px 2px #888888;background:none;border-radius:25px; color:#f00;}

em a{color:red;}
em a:hover {color:red; font-size:25px;}
/**
 */
.uk-comment-sblog {border-bottom:1px #fff solid;
    box-shadow:1px 1px #eee,-1px -1px #aaa;
}
.uk-comment-sblog .uk-comment-header{}
/*footer*/
.sblog-footer {background-color:#333;color:#eee;}
.sblog-footer a {color:#eee}

.sblog-float-right{float:right;}

/*specail font css*/
.sblog-logo{padding-top:60px;height:auto; margin:auto;
overflow:hidden; line-height:100px;font-size:100px;text-align:center;}   
.sblog-logo .logo1{text-align:right;float:left;font-weight:bold;color:#e8eacc}
.sblog-logo .logo2{text-align:center; font-size:40px;float:right;color:#b8ba9c;
    text-shadow:  
        1px 1px #eee,
        -1px -1px #444;//使用阴影叠加出凹体文字特效
}
.sblog-logo {
    color:#FFD300;  
    text-shadow:  
        0px 0px 0 #b89800,   
        1px -1px 0 #b39400,   
        2px -2px 0 #ad8f00,   
        3px -3px 0 #a88b00,   
        4px -4px 0 #a38700,   
        5px -5px 0 #9e8300,   
        6px -6px 0 #997f00,   
        7px -7px 0 #947a00,   
        8px -8px 0 #8f7600,   
        9px -9px 0 #8a7200,   
        10px -10px 0 #856e00,   
        11px -11px 0 #806a00,   
        12px -12px 0 #7a6500,   
        13px -13px 12px rgba(0, 0, 0, 0.55),   
        13px -13px 1px rgba(0, 0, 0, 0.5);  
}
.uk-navbar-nav .uk-active .uk-home {color:#fff;font-weight:bold; font-size:25px;
    text-shadow:  
        0px 0px 0 #b89800,   
        -1px -1px 0 #b39400,   
        -2px -2px 0 #ad8f00,   
        -3px -3px 0 #a88b00,   
        -4px -4px 0 #a38700,   
        -4px -4px 4px rgba(0, 0, 0, 0.55),   
        -4px -4px 1px rgba(0, 0, 0, 0.5);  

    box-shadow:
        0px 0px 0 #b0eadc,   
        -1px 1px 0 #a5d8c7,   
        -2px 2px 0 #90c3b2,   
        -3px 3px 0 #85b8a7,   
        -4px 4px 0 #70a392,   
        -5px 5px 0 #609a8c,   
        0px 0px 0 #b0eadc,   
        1px 1px 0 #476,   
        -5px 5px 5px rgba(5, 7, 6, 0.5),   
        -5px 5px 1px rgba(5, 7, 6, 0.5),
        1px 5px 1px rgba(7, 7, 6, 0.5),   
        1px 5px 1px rgba(7, 7, 6, 0.5);  

}
/*specail block 
border-radius:5px;
*/
.sblog-content{
    box-shadow:
        0px 0px 0 #e8eacc,   
        0px -1px 0 #c8caac,   
        0px -2px 0 #b8ba9c,   
        0px -3px 0 #a8aa8c,   
        0px -4px 0 #989a7c,   
        0px -4px 4px rgba(7, 7, 5, 0.3),   
        0px -4px 1px rgba(7, 7, 5, 0.3);  
}
/**/
.uk-navbar-bg{
    box-shadow:
        0px 0px 0 #85b8a7,   
        0px 1px 0 #90c3b2,   
        0px 2px 0 #95c8b7,   
        0px 3px 0 #a0d3c2,   
        0px 4px 0 #a5d8c7,   
        0px 5px 0 #b0eadc,   
        0px 5px 5px rgba(0, 0, 0, 0.55),   
        0px 5px 1px rgba(0, 0, 0, 0.5);  
}
.sblog-footer{
    box-shadow:
        0px -1px 0 #959585,   
        0px -2px 0 #858585,   
        0px -3px 0 #757575,   
        0px -4px 0 #656565,   
        0px -5px 0 #555555,   
        0px -5px 5px rgba(0, 0, 0, 0.55),   
        0px -5px 1px rgba(0, 0, 0, 0.5);  

}

.square_local{margin-left:35px;width:70%;}
  .square{
    width:100%;height:100%;position:relative; 
    
    transform:rotate(45deg); 
    -webkit-transform:rotate(45deg); 
    -moz-transform:rotate(45deg); 
    
    animation:rotate infinite linear 5s;margin:0 auto;
    -webkit-animation:rotate infinite linear 5s;margin:0 auto;
    -moz-animation:rotate infinite linear 5s;margin:0 auto;
  }
  .rect{width:100%;height:50%;position:relative;border:1px #d2d2d2 solid;border-bottom:none;}
  .inner_circle{width:50%;height:100%;border-radius:100%;position:absolute;z-index:1;}
  .dot{width:12.5%;height:12.5%;position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;border-radius:50%;}
  .rect_one{background:white;}
  .rect_one_one{bottom:-50%;left:0;background:black;}
  .rect_one_two{background:white;}
  .rect_two{background:black;}
  .rect_two_one{bottom:50%;right:0;background:white;}
  .rect_two_two{background:black;}
  @keyframes rotate{
    from{
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    }to{
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
  }}
