{{template "header".}}
<!-- ##BEGIN content -->

<div class="sblog-middle .uk-width-*">

		<div class="uk-grid uk-grid-collapse sblog-content">
			<!-- ##BEGIN left body-->
      <div class="uk-width-7-10 sblog-left-body">
        <div class="uk-width-9-10 uk-container-center">

					<div class="uk-block  sblog-uk-block uk-block-default ">
				<article class="uk-article uk-article-list">
<p class="uk-article-lead"><a href=""> {{.detail.title}}</a></p>
<p class="uk-article-meta">由 {{.detail.author}} 撰写于 {{.detail.created_time}} | 发表在 博客</p>
					<hr class="uk-article-divider">
					{{ .detail.content}}
					...<em><a href="">more</a></em>
				</article>	
					</div>

					<p class=" sblog_block-deliver"></p>

					<ul class="uk-pagination">
            <li class="uk-pagination-previous uk-width-2-10"><a href="/?page={{  .prepage}}"><i class="uk-icon-angle-double-left"></i> Prev</a></li>
						<li class="uk-pagination-next uk-width-2-10"><a href="/?page={{ .nextpage}}">Next <i class="uk-icon-angle-double-right"></i></a></li>
					</ul>
					<p class=" sblog_block-deliver"></p>

<section id="sblog-comments">
        <ul class="uk-comment-list">
            <li>
            <article class="uk-comment uk-comment-sblog">
                <header class="uk-comment-header">
                    <img class="uk-comment-avatar" src="{{.setting.asset_path}}images/placeholder_avatar.svg" width="50" height="50" alt="">
                    <h4 class="uk-comment-title">Author</h4>
                    <div class="uk-comment-meta">12 days ago | Profile | #</div>
                </header>
                <div class="uk-comment-body">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
            </article>
            </li>
        </ul>
</section>

					<p class=" sblog_block-deliver"></p>
        </div>
      </div>

			<!-- ##END left body-->

			<!-- ##BEGIN righ body-->
			<div class="uk-width-3-10 uk-container-center">
<section id="right_bar">
{{template "right_bar" .}}
</section>
      </div>
			<!-- ##END righ body-->
		</div>


    </div>
</div>
<!-- ##END content -->
<link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet">  
<!-- ## footer-->
{{template "footer" .}}
<script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>  
<script >hljs.initHighlightingOnLoad();
// lighight code
$(function(){
    $preEl = $("pre");
    $preEl.attr("class","hljs php")
    if ($preEl.length >0) {
        $preEl.each(function(){
            if ($(this).children("code").length){
                return
            }
            var innerHtml = "<code class='hljs'>"+$(this).html()+"</code>";
            $(this).html(innerHtml);
        });
    }
});
</script>  

