{{define "footer"}}
<div class="sblog-footer">
            <div class="uk-container uk-container-center uk-text-center">

                <ul class="uk-subnav uk-subnav-line uk-flex-center">
                    <li><a href="http://github.com/aixgl/">GitHub</a></li>
                    <li><a href="http://github.com/aixgl/go-sblog/issues">Issues</a></li>
                    <li><a href="https://twitter.com/getuikit">Twitter</a></li>
                </ul>

                <div class="uk-panel">
                    <p>Made by <a href="http://www.yootheme.com">YOOtheme</a> with love and caffeine.<br>Licensed under <a href="http://opensource.org/licenses/MIT">MIT license</a>.</p>
                    <a href="/">
					<i class="uk-icon-ship"></i>GO.AIXGL
					</a>
                </div>

            </div>
        </div>
<!-- ## footer-->
<script type="text/javascript" src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script  type="text/javascript"src="//cdn.bootcss.com/uikit/2.25.0/js/uikit.js"></script>
<script  type="text/javascript"src="//cdn.bootcss.com/uikit/2.25.0/js/components/search.js"></script>
    </body>
<html>
{{end}}
