{{define "footer"}}
					<p class=" sblog_block-deliver"></p>
<div class="sblog-footer">
            <div class="uk-container uk-container-center uk-text-center">

                <ul class="uk-subnav uk-subnav-line uk-flex-center">
                    <li><a href="http://github.com/aixgl/">GitHub</a></li>
                    <li><a href="http://github.com/aixgl/go-sblog/issues">Issues</a></li>
                    <li><a href="https://twitter.com/getuikit">Twitter</a></li>
                </ul>

            </div>
        </div>
<!-- ## footer-->
<script type="text/javascript" src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script  type="text/javascript"src="//cdn.bootcss.com/uikit/2.25.0/js/uikit.js"></script>
<!--<script  type="text/javascript"src="//cdn.bootcss.com/uikit/2.25.0/js/components/search.js"></script>-->
    </body>
<script>
$(function(){

    $('.uk-search-field').on('keydown',function(event){  
      //判断当event.keyCode 为37时（即左方面键），执行函数to_left();  
      //判断当event.keyCode 为39时（即右方面键），执行函数to_right();  

      if(event.keyCode == 13){  
        sblog.search();
      }  
    }); 


    var sblog = function(){
        
    }
    
    sblog.search = function(){
        var elv = $('.uk-search-field').val()
        if (!elv) {
            return
        }
        var url = "?search="+elv;
        $(window).attr('location', url);
    }
    
    sblog.square = function() {
        var square_local = $(".square_local");
        var sqlw = square_local.width();
        var halfSqlw = sqlw/2
        square_local.css("height",square_local.width());

        $('.rect').css({
            "width":sqlw,
            "height":halfSqlw
        });

        $('.inner_circle').css({
            "width":halfSqlw,
            "height":halfSqlw,
            "border-radius":halfSqlw
        });
        $('.dot').css({
            "width":(sqlw / 8),
            "height":sqlw/8,
            "border-radius":"50%"
        });
        $('.rect_one').css({
            "border-top-left-radius":halfSqlw,
            "border-top-right-radius":halfSqlw
        });
        $('.rect_two').css({
            "border-bottom-left-radius":halfSqlw,
            "border-bottom-right-radius":halfSqlw
        });
        $('.rect_one_one').css({
            "bottom":sqlw/4*-1
        });
        $('.rect_two_one').css({
            "bottom":sqlw/4
        });
        
    }

    window.onresize = function(){
        sblog.square();
    }
    sblog.square();
    
})

</script>
<html>
{{end}}
