{{define "header"}}
<!DOCTYPE html>
<html>
<head>
<title>{{.web_title}}</title>
        <link rel="stylesheet" href="//cdn.bootcss.com/uikit/2.25.0/css/uikit.min.css" />
        <link rel="stylesheet" href="//cdn.bootcss.com/uikit/2.25.0/css/components/search.css" />
        <link rel="stylesheet" href="/front/css/style.css" />
</head>
<body>

<header id="top">
        <div class="sblog-logo uk-gird">
            <div class="uk-width-medium-4-10 uk-row-first logo1">艾辛阁</div>
            <div class="uk-width-medium-6-10 uk-float-righ logo2">专注·钻研·code.thinking...</div>
        </div>

<!-- ## header -->
<nav class="uk-navbar uk-navbar-bg  uk-width-3 ">
    <a class="uk-navbar-brand" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>

    <ul class="uk-navbar-nav">
        <li class="uk-parent uk-active" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
            <a href="/" class="uk-home"><i class="uk-icon-home"></i> Aixgl.com</a>

            <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" style="top: 40px; left: 0px;">
                <ul class="uk-nav uk-nav-navbar">
                    <li class=""><a href="#">Item</a></li>
                    <li><a href="#">Another item</a></li>
                    <li class="uk-nav-header">Header</li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Another item</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#">Separated item</a></li>
                </ul>
            </div>

        </li>

    </ul>

    <div class="uk-navbar-content"> 
		<a href="#" class="navbar-content-link">{{.title}}</a>
		
	</div>

    <div class="uk-navbar-content uk-navbar-flip  uk-hidden-small">
        <div class="uk-button-group">
            <a class="uk-button uk-button-danger" href="#">follow</a>
            <button class="uk-button uk-button-danger">Star</button>
        </div>
    </div>

    <div class="uk-navbar-content uk-navbar-flip uk-hidden-small">
			<input class="uk-search-field" type="search" placeholder="search..." autocomplete="off">
			<div class="uk-dropdown uk-dropdown-flip uk-dropdown-search" aria-expanded="false"></div>
    </div>
</div>
</nav>
</header>
<!-- ##END header -->
<!--<div class="uk-width-*" style="height:40px;"></div>-->
{{end}}
