{{template "header".}}
<!-- ##BEGIN content -->

<div class="sblog-middle .uk-width-*">

		<div class="uk-grid uk-grid-collapse sblog-content">
			<!-- ##BEGIN left body-->
      <div class="uk-width-7-10 sblog-left-body">
        <div class="uk-width-9-10 uk-container-center">

{{ range $i,$v := .postList}}
					<div class="uk-block  sblog-uk-block uk-block-default ">
				<article class="uk-article uk-article-list">
<p class="uk-article-lead"><a href="/v?ID={{$v.ID}}"> {{$v.title}}...</a></p>
<p class="uk-article-meta">由 {{$v.author}} 撰写于 {{$v.created_time}} | 发表在 博客</p>
					<hr class="uk-article-divider">
					{{ $v.content}}
					...<em><a href="">more</a></em>
				</article>	
					</div>

					<p class=" sblog_block-deliver"></p>
{{end}}

					<p class=" sblog_block-deliver"></p>

					<ul class="uk-pagination">
            <li class="uk-pagination-previous uk-width-2-10"><a href="/?page={{  .prepage}}"><i class="uk-icon-angle-double-left"></i> Prev</a></li>
						<li class="uk-pagination-next uk-width-2-10"><a href="/?page={{ .nextpage}}">Next <i class="uk-icon-angle-double-right"></i></a></li>
					</ul>
					<p class=" sblog_block-deliver"></p>
					<p class=" sblog_block-deliver"></p>
        </div>
      </div>

			<!-- ##END left body-->
			<!-- ##BEGIN righ body-->
			<div class="uk-width-3-10 uk-container-center">

<section id="right_bar">
{{template "right_bar" .}}
</section>
      </div>
			<!-- ##END righ body-->
		</div>

    </div>
</div>
<!-- ##END content -->
<!-- ## footer-->
{{template "footer" .}}
