{{define "right_bar"}}

<div class="square_local">
    <div class="square">
      <div class="rect rect_one">
        <div class="inner_circle rect_one_one">
          <div class="dot rect_one_two"></div>
        </div>
      </div>
      <div class="rect rect_two">
        <div class="inner_circle rect_two_one">
          <div class="dot rect_two_two"></div>
        </div>
      </div>
    </div>
</div>

              <p class=" sblog_block-deliver"></p>
  <div class="uk-block uk-block-defined-bar uk-width-9-10">
      <div class="uk-panel uk-panel-box">
        <ul class="uk-list uk-list-line ">
          <li><a href="">List item 1</a></li>
          <li><a href="">List item 1</a></li>
          <li><a href="">List item 1</a></li>
        </ul>					
      </div>
  </div>

      <p class=" sblog_block-deliver"></p>
  <div class="uk-block uk-block-defined-bar uk-width-9-10">
      <div class="uk-panel uk-panel-box">
        <ul class="uk-list uk-list-line ">
          <li><a href="">List item 1</a></li>
          <li><a href="">List item 1</a></li>
          <li><a href="">List item 1</a></li>
        </ul>					
      </div>
      <p class=" sblog_block-deliver"></p>
  </div>

{{end}}
