{{define "footer"}}
<div id="f-content">
	<img src="{{.setting.asset_path}}images/bamboo.png" width="96" height="125" alt="bamboo" id="footerimg">
		<div id="social-links">
		  <a href="#" class="fblink">
			Facebook</a>
		  <a href="#" class="twtlink">
			
			Twitter
		  </a>
		</div>
		<div id="credits">
		<p class="sitecredit"> 2010 &amp; All Rights Reserved | aixgl.com </p>
		<p class="designcredit"><a href="http://{{.setting.web_host}}/" title="网站模板" target="_blank">web host name</a> collect from {{.setting.web_host}}</p>

	</div>
</div>

{{end}}
