{{define "sidebar"}}
<h2>Topics</h2>
<ul>
	<li><a href="#nogo">Drawings</a></li>
    <li><a href="#nogo">Illustrations</a></li>
    <li><a href="#nogo">Digital Arts</a></li>
    <li><a href="#nogo">Music</a></li>
    <li><a href="#nogo">Literature</a></li>
    <li><a href="#nogo">Web Design</a></li>
    <li><a href="http://www.cssheaven.org">CSS Templates</a></li>

</ul>
<h2>Blogroll</h2>
<ul>
	<li><a href="#nogo">Drawings</a></li>
    <li><a href="#nogo">Illustrations</a></li>
    <li><a href="#nogo">Digital Arts</a></li>
    <li><a href="#nogo">Music</a></li>
    <li><a href="#nogo">Literature</a></li>
    <li><a href="#nogo">Web Design</a></li>
    <li><a href="http://www.cssheaven.org">CSS Templates</a></li>

</ul>
{{end}}
